@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900&display=swap"');

*{
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    background-image: url("img/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

header nav{
    position: fixed;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    vertical-align: middle;
    margin: 0 25px;
    letter-spacing: 2px;
}

.main-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.main-txt p{
    max-width: 65%;
    text-align: center;
    align-self: center;
}

.main-txt img{
    width: 3.5%;
    align-self: center;
}

.main-txt p:first-of-type{
    font-weight: 600;
    letter-spacing: 2px;
}

.main-txt p:last-of-type{
    color: grey;
    line-height: 27px;
    word-spacing: 6px;
}

#bicylelogo{
    background-image: url("img/left-box-1.jpg");
    background-size: cover;
    width: 70%;
    height: 600px;
    display: flex;
    justify-content: center;
    float: left;
}

#bicylelogo img{
    width: 130px;
    height: 130px;
    align-self: center;
}

.side-main-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 396px;
    width: 30%;
    float: right;
}

.side-main-txt p{
    max-width: 65%;
    text-align: center;
    align-self: center;
}

.side-main-txt img{
    width: 3.5%;
    align-self: center;
}

.side-main-txt p:first-of-type{
    font-weight: 600;
    letter-spacing: 2px;
}

.side-main-txt p:last-of-type{
    color: grey;
    line-height: 27px;
    word-spacing: 6px;
}

.right-main-img{
    width: 30%;
    height: 204px;
    float: left;
}

div:nth-of-type(5){
    background-image: url("img/left-box-2.jpg");
    background-size: cover;
    width: 70%;
    height: 600px;
    display: flex;
    justify-content: center;
    float: right;
}

div:nth-of-type(5) img{
    width: 130px;
    height: 130px;
    align-self: center;
}

main img:nth-of-type(2){
    float: left;
}

div:nth-of-type(7){
    background-image: url("img/red-frame.jpg");
    background-size: cover;
    width: 30%;
    height: 600px;
    display: flex;
    justify-content: center;
    float: left;
}

div:nth-of-type(7) img{
    width: 190px;
    height: 70px;
    align-self: center;
}

div:nth-of-type(8){
    float: left;
    width: 40%;
}

img:nth-child(11){
    float: left;
    height: 204px;
    width: 40%;
}

img:nth-of-type(4){
    width: 30%;
    height: 600px;
}

.tweet{
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.tweet img{
    width: 35px;
    align-self: center;
}

.tweet p{
    text-align: center;
}

.tweet p:first-of-type{
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
}

.tweet p:last-of-type{
    color: grey;
    font-style: italic;
    word-spacing: 4px;
    line-height: 25px;
    max-width: 60%;
    align-self: center;
}

.clear{
    clear: both;
}