@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900&display=swap"');

*{
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    background-image: url("img/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

header nav{
    position: fixed;
    z-index: 1;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    vertical-align: middle;
    margin: 0 25px;
    letter-spacing: 2px;
}

.main-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.main-txt p{
    max-width: 65%;
    text-align: center;
    align-self: center;
}

.main-txt img{
    width: 3.5%;
    align-self: center;
}

.main-txt p:first-of-type{
    font-weight: 600;
    letter-spacing: 2px;
}

.main-txt p:last-of-type{
    color: grey;
    line-height: 27px;
    word-spacing: 6px;
}

#bicylelogo{
    background-image: url("img/left-box-1.jpg");
    background-size: cover;
    width: 70%;
    height: 600px;
    display: flex;
    justify-content: center;
    float: left;
}

#bicylelogo img{
    width: 130px;
    height: 130px;
    align-self: center;
}

.side-main-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 396px;
    width: 30%;
    float: right;
}

.side-main-txt p{
    max-width: 65%;
    text-align: center;
    align-self: center;
}

.side-main-txt img{
    width: 3.5%;
    align-self: center;
}

.side-main-txt p:first-of-type{
    font-weight: 600;
    letter-spacing: 2px;
}

.side-main-txt p:last-of-type{
    color: grey;
    line-height: 27px;
    word-spacing: 6px;
}

.right-main-img{
    width: 30%;
    height: 204px;
    float: left;
}

div:nth-of-type(5){
    background-image: url("img/left-box-2.jpg");
    background-size: cover;
    width: 70%;
    height: 600px;
    display: flex;
    justify-content: center;
    float: right;
}

div:nth-of-type(5) img{
    width: 130px;
    height: 130px;
    align-self: center;
}

main img:nth-of-type(2){
    float: left;
}

div:nth-of-type(7){
    background-image: url("img/red-frame.jpg");
    background-size: cover;
    width: 30%;
    height: 600px;
    display: flex;
    justify-content: center;
    float: left;
}

div:nth-of-type(7) img{
    width: 190px;
    height: 70px;
    align-self: center;
}

div:nth-of-type(8){
    float: left;
    width: 40%;
}

img:nth-child(11){
    float: left;
    height: 204px;
    width: 40%;
}

img:nth-of-type(4){
    width: 30%;
    height: 600px;
}

.tweet{
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.tweet img{
    width: 35px;
    align-self: center;
}

.tweet p{
    text-align: center;
}

.tweet p:first-of-type{
    color: black;
    font-weight: 900;
    letter-spacing: 1px;
}

.tweet p:last-of-type{
    color: grey;
    font-style: italic;
    word-spacing: 4px;
    line-height: 25px;
    max-width: 60%;
    align-self: center;
}

#image-g div{
    width: 33.3333%;
    height: 32.6vw;
    float: left;
    overflow: hidden;
}

#image-g div img{
    float: left;
}

#image-g div:nth-child(1) img:nth-of-type(1),#image-g div:nth-child(1) img:nth-of-type(2),#image-g div:nth-child(2) img:nth-of-type(1),#image-g div:nth-child(2) img:nth-of-type(2),#image-g div:nth-child(3) img:nth-of-type(2), #image-g div:nth-of-type(3) img:nth-of-type(3){
    width: 50%;
}

#image-g div:nth-child(1) img:nth-of-type(3),#image-g div:nth-child(3) img:nth-of-type(1){
    width: 100%;
}

#discover{
    background-color: #333741;
    height: 115px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#discover button{
    background-color: #333741;
    color: white;
    border: 1px solid white;
    align-self: center;
    letter-spacing: 2px;
    padding: 10px 30px;
}

footer{
    height: 600px;
}

#footer-part-1{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer figure img{
    margin-left: 35px;
}

footer figure figcaption{
    color: grey;
    font-style: italic;
    font-size: 20px;
}

footer form input{
    padding: 0 15px;
    width: 230px;
    height: 50px;
    box-sizing: border-box;
    font-style: italic;
}

footer form button{
    background-color: #5ec29d;
    color: white;
    padding: 15px;
    width: 80px;
    border: none;
    height: 50px;
}

#footer-part-2{
    width: 100%;
    height: 250px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-part-2-size{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-part-2-size div{
    width: 33.3333%;
    float: left;
}

#footer-part-2-size div:nth-of-type(1) p{
    color: grey;
}

#footer-part-2-size div:nth-of-type(2){
    text-align: center;
}

#footer-part-2-size div:nth-of-type(2) img{
    margin: 0 5px;
}

#footer-part-2-size div:nth-of-type(3) p{
    color: grey;
    font-style: italic;
    text-align: right;
}

.clear{
    clear: both;
}

@media (min-width:1001px){}

@media (max-width:1000px){
    header nav ul li {
        display: none;
    }

    header nav ul li:nth-of-type(4) {
        display: inline-block;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    .main-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
    }

    .main-txt p {
        max-width: 100%;
        text-align: center;
        align-self: center;
    }

    #bicylelogo {
        background-image: url(img/left-box-1.jpg);
        background-size: cover;
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        float: left;
    }

    .side-main-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 500px;
        width: 100%;
        float: right;
    }

    .side-main-txt p {
        max-width: 90%;
        text-align: center;
        align-self: center;
    }

    .right-main-img {
        width: 100%;
        height: 200px;
        float: left;
    }

    div:nth-of-type(5) {
        background-image: url(img/left-box-2.jpg);
        background-size: cover;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        float: right;
    }

    div:nth-of-type(7) {
        background-image: url(img/red-frame.jpg);
        background-size: cover;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        float: left;
    }

    div:nth-of-type(8) {
        float: left;
        width: 100%;
    }

    img:nth-child(11) {
        float: left;
        height: 200px;
        width: 100%;
    }

    img:nth-of-type(4) {
        width: 100%;
        height: 500px;
    }

    #image-g div {
        width: 100%;
        height: 87vw;
        float: left;
        overflow: hidden;
    }

    .numbers-1{
        order: -10;
    }
}